.header li{
    width: 663px;
height: 42px;
left: 1257px;
top: 43px;

font-family: 'League Spartan', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
letter-spacing: 2px;

color: #FFFFFF;
cursor: pointer;
}
/* .header{
    display: flex;
    margin-top: 0px;
    align-items: center;
    align-items: baseline;
    align-content: stretch;
    justify-content: space-between;
    height: 140px;
} */
ul li{
    display: inline;
    margin-right: 5px;
}

.cont{
    width: 1500px;
    margin: 0 auto;
}

