.about{

    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/99/Earth_BW_Edition.jpg');

}
.text{
    height: 497px;
    display: flex;
    flex-direction: column;
    align-items: center
}
h1{
    height: 42px;
    left: 1257px;
    top: 43px;
    
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    
    color: #FFFFFF;
}
p{
    height: 42px;
    left: 1257px;
    top: 43px;
    
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    
    color: #FFFFFF;}
