@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

img{
    width: 68%;
    margin: 0px;
}
.logo-name{
    display: flex;
    align-items: center;
}
.name{
    width: 334px;
    font-family: 'Spartan';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 90px;
letter-spacing: 2px;

color: #FFFFFF;
}
.header h1{
    font-family: 'League Spartan', sans-serif;
}
.header li{
    width: 663px;
height: 42px;
left: 1257px;
top: 43px;

font-family: 'League Spartan', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
letter-spacing: 2px;

color: #FFFFFF;
}
.header{
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
ul li{
    display: inline;
    margin-right: 5px;
}

.cont{
    width: 1500px;
    margin: 0 auto;
}
