@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

img{
    width: 100%;
    margin: 0px;
}
.imgIn{
    width: 24%;
    display: flex;
    align-content: stretch;
    height: 102px;
}
.logo-name{
    display: flex;
    lign-items: baseline;
    align-content: space-around;
    
}
.name h1{
    width: 334px;
    font-family: 'Spartan';
    font-size: 80px;
    letter-spacing: 2px;
    width: 139px;
    color: #FFFFFF;

color: #FFFFFF;
}
.header h1{
    font-family: 'League Spartan', sans-serif;
}
.header li{
    width: 663px;
height: 42px;
left: 1257px;
top: 43px;

font-family: 'League Spartan', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
letter-spacing: 2px;

color: #FFFFFF;
cursor: pointer;
}
.header{
    display: flex;
    margin-top: 0px;
    align-items: center;
    align-items: baseline;
    align-content: stretch;
    justify-content: space-between;
    height: 140px;
}
ul li{
    display: inline;
    margin-right: 5px;
}

.cont{
    width: 1500px;
    margin: 0 auto;
}

