@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');


.imgIn{
        display: flex;
        align-content: stretch;
        height: 102px;
}
.logo-name{
    display: flex;
    lign-items: baseline;
    align-content: space-around;
    width: 15%;
    padding-left: 43%;
    
}
.name h1{
    width: 334px;
    font-family: 'Spartan';
    font-size: 80px;
    letter-spacing: 2px;
    width: 139px;
    color: #FFFFFF;

color: #FFFFFF;
}
.header h1{
    font-family: 'League Spartan', sans-serif;
}
header{
    display: flex;
    margin-top: 0px;
    align-items: center;
    align-items: baseline;
    align-content: stretch;
    justify-content: space-between;
    height: 140px;
}